<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9 left-frame">
                <% include itemList %>
                <% include pagination %>
            </div>
            <div class="col-md-3 right-frame">
                <% include search %>
                <% include cateList %>
                <% include hotNewsList %>
                <% include tagsList %>
                <% include friendLink %>
            </div>
        </div>
    </div>
</div>