<footer id="footer">
    <div class="container text-left">
        自豪的采用&nbsp;LzyCMS  &nbsp;Copyright (c) 2016 &nbsp; All Rights Reserved &nbsp;&nbsp;联系作者：<a href="#" target="_blank">我的QQ</a>
    </div>
</footer>