<header class="clearfix">
    <div class="container">
        <!--登录注册的DIV-->
        <div class="text-right">
            <ul class="list-group">
                <li style="display:inline-block"><a href="/users/login">登录</a></li>
                <li style="display:inline-block"><a href="/users/reg">注册</a></li>
            </ul>
        </div>
        <!--头部导航-->
        <div style="border-bottom:1px solid #ddd">
            <!--图片-->
           <div class="logo">
               <a href="/"><img src="/images/logo.jpg" width="162" height="40"></a>
           </div>
            <!--导航-->
            <div class="nav" style="margin-top:20px;">
                <ul>
                    <li style="display:inline-block"><a href="#">我的导航</a></li>
                </ul>
            </div>

        </div>
    </div>


</header>