<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/plugins/Font-Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/plugins/AdminLTE/dist/css/AdminLTE.css">
    <!--[if lt IE 9]>
        <script src="/javascripts/html5shiv.js"></script>
        <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

</body>