<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/plugins/Font-Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/plugins/AdminLTE/dist/css/AdminLTE.css">
    <link rel="stylesheet" type="text/css" href="/plugins/AdminLTE/dist/css/skins/skin-green.css">
    <link rel="stylesheet" type="text/css" href="/plugins/AdminLTE/plugins/datatables/dataTables.bootstrap.css">
    <!--自己的CSS文件-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
    <!--[if lt IE 9]>
    <script src="/javascripts/html5shiv.js"></script>
    <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--自己的JS文件-->
    <script src="/javascripts/admin.js"></script>
    <!--上传下载-->
    <link rel="stylesheet" type="text/css" href="/plugins/uploadify/uploadify.css">
    <script src="/plugins/uploadify/jquery.uploadify.js"></script>


</head>
<body>
</body>
</html>
<script src="/plugins/AdminLTE/dist/js/app.js"></script>
<script src="/javascripts/controller.js"></script>
<script src="/javascripts/directives.js"></script>
<script src="/javascripts/filters.js"></script>
<script>
    //我自己的JS代码

</script>
