<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>我的首页</title>
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/angular.js"></script>
  <script src="plugin/bootstrap/js/bootstrap.js"></script>
  <link rel="stylesheet" href="plugin/bootstrap/css/bootstrap.css">
  <style>
      * {
          margin:0;
          padding:0;
          border:0;
          box-sizing:border-box;
          font-size:14px;
          color: rgb(68, 68, 68);
          font-family: Microsoft YaHei, Helvetica, Tahoma;
      }
      ul,li {
          list-style:none;
      }
      a,a:hover {
          text-decoration: none;
          color: rgb(110, 113, 115);
      }
      .left-frame {
          padding: 20px 70px 0 0;
      }
      .right-frame {
          border-left: 1px solid #ddd;
          padding-left: 35px;
          padding-top: 25px;
      }
      .right-frame h3 {
          border-bottom: 1px solid #ddd;
          color: #6e7173;
          font-size: 16px;
          line-height: 2.7;
          margin-top: 0;
      }
      .hotNewsList, .searchBoard, .leftNav, .tagsList, .cateList, .friendLink, .reSetPsdBoard, .newItemList {
          margin-bottom: 30px;
      }
  </style>
</head>
<body>
    <%- include public/header %>
    <%- include public/body %>
    <%- include public/footer %>
</body>
</html>