<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>我的首页</title>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/angular.js"></script>
  <script src="/plugin/bootstrap/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/plugin/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include public/header %>
    <%- include public/body %>
    <%- include public/footer %>
</body>
</html>